/* Add mobile styles for the component here.  */
.page{

    grid-gap: 10px;

}

.page-flex{

  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
  align-content: space-between;
}