<StackLayout class="page" backgroundColor="#999999">

  <StackLayout class="score-bar" orientation="horizontal">
    <Label text="Pair flips: "></Label>
    <Label width="30%" [text]="pairFlipsCounter"></Label>
    <Label text="Score: "></Label>
    <Label width="30%" [text]="score"></Label>
  </StackLayout>
  <GridLayout [columns]="columnsTemplate" [rows]="rowsTemplate" backgroundColor="#DEB887" hideActionBar>

    <Button class="card-button" *ngFor="let tile of tiles" (tap)="onTapHandler(tile)" [row]="tile.row" [col]="tile.col"
      visibility="{{ tile.hidden ? 'hidden' : 'visible' }}" [backgroundColor]="tile.shownColor"
      [backgroundImage]="tile.backgroundImage" [disabled]="tile.noTap">
    </Button>
  </GridLayout>
</StackLayout>