/* Add mobile styles for the component here.  */
.card-button{
    color:black;
    font-size: 40px;
    margin: 8px;
    border-radius: 10%;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}
